save-exact=true
prefer-frozen-lockfile=true
engine-strict=true
resolution-mode=highest
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*corejs*
public-hoist-pattern[]=*core-js*
public-hoist-pattern[]=!@types/*react*

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=jM8lP0UAfN/AKjB9i1iljjdlTdgyMZUzzhESP6FC0fLJ+cnNG+NxXs0Fowch92jo
